body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: url('background.jpg') no-repeat center center/cover;
}

.marquee {
    font-size: 24px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.87);
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.upload-box {
    width: 500px;
    height: 250px;
    border: 2px dashed rgba(255, 255, 255, 0.822);
    background: rgba(224, 205, 205, 0.363);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.upload-btn {
    background: #0066ff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.predict-btn {
    background: rgb(0, 109, 128);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 18px;
}

#result {
    font-size: 20px;
    color: white;
    margin-top: 20px;
    font-weight: bold;
}

.prediction, 
.confidence, 
.survival {
    margin-top: 10px;
    font-size: 18px;
    color: #ffffff;
}

.error {
    color: #ff4c4c;
    font-weight: bold;
    margin-top: 10px;
}

#result-box {
    width: 90%;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(0, 0, 0, 0.3); /* semi-transparent black */
    border-radius: 15px;
    color: #fff;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#result-box div {
    margin-bottom: 10px;
    font-size: 18px;
}

.error {
    color: #ff4c4c;
    font-weight: bold;
}

